.container {
  position: relative;
  width: 950px;

  @media only screen and (max-width: 950px) {
    width: 100%;
  }

  .images {
    height: 520px;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      display: block;
      width: 950px;
      object-fit: cover;

      @media only screen and (max-width: 950px) {
        width: 950px;
      }

      @media only screen and (max-width: 650px) {
        width: 650px;
        height: 550px;
      }

      @media only screen and (max-width: 450px) {
        width: 450px;
      }
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .images::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .images {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  svg {
    position: absolute;
    color: white;
    font-size: 5rem;
    top: 45%;
    cursor: pointer;
    color: rgba($color: #ececec, $alpha: 1);
    background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.6);
  }

  .left-arrow {
    left: 50px;

    @media only screen and (max-width: 650px) {
      left: 15px;
    }
  }

  .right-arrow {
    right: 50px;

    @media only screen and (max-width: 650px) {
      right: 15px;
    }
  }

  .title {
    left: 5%;
    position: absolute;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 30px;
    color: white;

    @media only screen and (max-width: 650px) {
      width: 100%;
      left: 0;
    }
  }

  .shadow {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.55) -20px -80px 16px 20px inset;
  }
}
